<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Koroonaviiruse laivandmed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://res.cloudinary.com/dyrx7fhw7/raw/upload/v1585257575/main_o68jij.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://res.cloudinary.com/dyrx7fhw7/raw/upload/v1585257575/main_o68jij.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="background-image:url('https://altona-diagnostics.com/files/public/Content%20Homepage/News%20und%20Presse/Novel%20Coronavirus%20(2019-nCoV)%20+Lunge-01.png'); background-size: cover; color:black;">
<div class="container">
    <h1></h1>
    <h1><span th:text="${title}"></span></h1>
    <p>Koroona viiruse statistika üle maailma</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Aset leidnud juhtumeid</p>
        <hr class="my-4">
        <p>
            <span>Alates eelmisest päevast on teatatud uutest juhtudest:</span>
            <span th:text="${totalLatestCases}"></span>
            <span> mis on  </span>
            <span th:text="${#numbers.formatDecimal(percentChange,1,2)}"></span>
            <span>% viimase päeva andmetest... </span>
        </p>

    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@Countryname</span>
        </div>
        <input type="text" id="search-box" class="form-control" placeholder="Country name" aria-label="Country name" aria-describedby="basic-addon1">
    </div>
    <table class="table" style="
    background: red;
    opacity: 84%;
    color: aliceblue;
">
        <tr>
            <th>Maaa</th>
            <th>Juhtumeid tuvastatud</th>
            <th>Erinevused eelneva päevaga võrreldes</th>
        </tr>
        <tr th:each="locStat : ${locStats}">
            <td class="content" th:text="${locStat.country}"></td>
            <td class="content" th:text="${locStat.latestTotalCases}"></td>
            <td class="content" th:text="${locStat.diffFromPrevDay}"></td>
        </tr>
    </table>
</div>
</body>

</html>