<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Koroonaviiruse laivandmed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="background-image:url('https://specials-images.forbesimg.com/imageserve/1202565263/960x0.jpg?fit=scale'); background-size: cover;">
<div class="container">
    <h1></h1>
    <h1><span th:text="${title}"></span></h1>
    <p>Koroona viiruse statistika üle maailma</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Täna aset leidvad juhtumid</p>
        <hr class="my-4">
        <p>
            <span>Alates eelmisest päevast on teatatud uutest juhtudest:</span>
            <span th:text="${totalLatestCases}"></span>
            <span> korda, mis on  </span>
            <span th:text="${#numbers.formatDecimal(percentChange,1,2)}"></span>
            <span>% viimase päeva andmetest... </span>
        </p>

    </div>

    <table class="table" style="
    background: red;
    opacity: 84%;
    color: aliceblue;
">
        <tr>
            <th>Maaa</th>
            <th>Uusi juhtumeid tuvastatud</th>
            <th>Erinevused eelneva päevaga võrreldes</th>
        </tr>
        <tr th:each="locStat : ${locStats}">
            <td th:text="${locStat.country}"></td>
            <td th:text="${locStat.latestTotalCases}"></td>
            <td th:text="${locStat.diffFromPrevDay}"></td>
        </tr>
    </table>
</div>
</body>

</html>